pkgbase = docker-pussh
	pkgdesc = Push docker images directly to remote servers without an external registry
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/psviderski/unregistry
	arch = any
	license = Apache-2.0
	depends = docker
	depends = bash
	depends = openssh
	source = docker-pussh-0.1.0::https://github.com/psviderski/unregistry/raw/refs/tags/v0.1.0/docker-pussh
	sha256sums = b602dbb15ff9160fd737dc79e2fdddc76d4306e0ca04abec24df257b5183c3c5

pkgname = docker-pussh
