pkgbase = docker-pussh
	pkgdesc = Push docker images directly to remote servers without an external registry
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/psviderski/unregistry
	arch = any
	license = Apache-2.0
	depends = docker
	depends = bash
	depends = openssh
	source = docker-pussh-0.1.3::https://github.com/psviderski/unregistry/raw/refs/tags/v0.1.3/docker-pussh
	sha256sums = 679578a072da6db30064bec62dd01068073fe0eb90873fb99eb4338a08db1c7b

pkgname = docker-pussh
