pkgbase = docker-pussh
	pkgdesc = Push docker images directly to remote servers without an external registry
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/psviderski/unregistry
	arch = any
	license = Apache-2.0
	depends = docker
	depends = bash
	depends = openssh
	source = docker-pussh-0.2.2::https://github.com/psviderski/unregistry/raw/refs/tags/v0.2.2/docker-pussh
	sha256sums = ed1e56b37ef9a4e6208a071ad50d2fc79994220821074b7006703fd50ce3c9a8

pkgname = docker-pussh
