pkgbase = python-backcall
	pkgdesc = Backwards compatible callback APIs
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/takluyver/backcall
	arch = any
	license = BSD
	makedepends = python-flit
	makedepends = git
	depends = python
	source = https://github.com/takluyver/backcall/archive/0.2.0.zip
	source = https://raw.githubusercontent.com/takluyver/backcall/master/LICENSE
	md5sums = e7927a0b0cb97da487f26666704bc99f
	md5sums = 40e56b724d016484a7f790ec826d3ffc

pkgname = python-backcall

