pkgbase = fselect-bin
	pkgdesc = Find files with SQL-like queries
	pkgver = 0.7.6
	pkgrel = 1
	url = https://github.com/jhspetersson/fselect
	arch = x86_64
	license = MIT
	provides = fselect
	conflicts = fselect-git
	conflicts = fselect
	source = LICENSE::https://raw.githubusercontent.com/jhspetersson/fselect/master/LICENSE-MIT
	sha256sums = 23f18e03dc49df91622fe2a76176497404e46ced8a715d9d2b67a7446571cca3
	source_x86_64 = fselect-0.7.6.gz::https://github.com/jhspetersson/fselect/releases/download/0.7.6/fselect-x86_64-linux-musl.gz
	sha256sums_x86_64 = c33eeff4791c915b723cdde929c83b5413630f03c2630c3bb78d503cea5f795f

pkgname = fselect-bin
