pkgbase = zns-bin
	pkgdesc = CLI tool for querying DNS records with readable, colored output.
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/znscli/zns
	arch = x86_64
	arch = aarch64
	arch = i686
	license = MIT
	provides = zns
	source = zns-0.3.0.tar.gz::https://github.com/znscli/zns/releases/download/v0.3.0/zns_0.3.0_linux_amd64.tar.gz
	sha256sums = e25dc1ff7e58df86c097a698ac8e6938c53b41da7359df799633fcb1b3419d49

pkgname = zns-bin
