pkgbase = docker-pussh
	pkgdesc = Push docker images directly to remote servers without an external registry
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/psviderski/unregistry
	arch = any
	license = Apache-2.0
	depends = docker
	depends = bash
	depends = openssh
	source = docker-pussh-0.2.0::https://github.com/psviderski/unregistry/raw/refs/tags/v0.2.0/docker-pussh
	sha256sums = 51eab4cf6b8d14e7c896869a9f2d50ebfd1a95515664857bbb2514815fa34e27

pkgname = docker-pussh
