pkgbase = docker-pussh
	pkgdesc = Push docker images directly to remote servers without an external registry
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/psviderski/unregistry
	arch = any
	license = Apache-2.0
	depends = docker
	depends = bash
	depends = openssh
	source = docker-pussh-0.3.0::https://github.com/psviderski/unregistry/raw/refs/tags/v0.3.0/docker-pussh
	sha256sums = 38f8f9c989a3ff571bc2540d03ec3d006da3b8706a3d4c57ed3c95d58944c57d

pkgname = docker-pussh
